body{
	color : #000000;
}

#header{
	width:auto;
	height:60px;
	background-color:#1E93C1;
	margin:-7px -2px 0px -2px;
	padding:0px 2px 0px 2px;
}

#logo{
	width:190px;
	height:50px;
	margin-top: 4px;
	margin-left:24%;
}

.twitter-share-button{
	margin-bottom: 10px;
}

#contents{
	width : 700px;
	min-height:470px;
	color : #000000;
	margin-right: auto;
	margin-left : auto;
	margin-top:2.25%; 
	margin-bottom: 1.5%;
	background-color :#ffffff;
	font-size: 1.167em;
	line-height: 1.5em;
	border-radius: 15px;
}

#midashi_howto{
	width: 600px;
	font-size: 1.000em;
	border-bottom: 1px solid #18A8CB;
    border-left: 7px solid #18A8CB;
    margin: 0% 0% -3.5% 1%;
    padding: 5px 8px;
}
#description_use1{
	width: 600px;
	margin : 5% 0% 5% 3%;
}

#description_use2{
	margin-left: 3%;
	word-wrap: break-word;
}

#kirokuformOut{
	float:left;
}

#kirokuformIn{
	padding : 0px 0px 0px 0px;
	margin-left: 15px;
	position: relative;
	width : 300px;
}

#midashi_kiroku{
	width: 600px;
	font-size: 1.000em;
	border-bottom: 1px solid #18A8CB;
    border-left: 7px solid #18A8CB;
    margin: 0% 0% 0% 1%;
    padding: 5px 8px;
}

#ryoukin_select { 
	font-size: large;
	font-weight: bold;
		}

#input_kingaku { 
	font-size: large;
	font-weight:bold;
	margin-top:3%; 
	}

#description_kingaku{
	margin-top: -7%;
}

#kingaku{
	width: 150px;
	height:30px;
}

#kiroku_button{
	position:absolute; 
	top:150px;
	right: 0;
    bottom: 0;
    margin-top: -4%;
}

#utilityCharges_kiroku{
	background: -moz-linear-gradient(top,#DDDDDD 0%,#EDEDED);
	background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#EDEDED));
	border: 1px solid #000;
	color:#000;
	padding: 0px 0px;
	text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 0.813em;
    width: 120px;
    height:35px;
    border-radius: 5px;
	}

#utilityCharges_kiroku:hover{
	 cursor:pointer;
    filter: alpha(opacity=80);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=0)";  /* ie 8 */
    -moz-opacity:0.8;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.8;              /* Safari 1.x */
    opacity:0.8;
    zoom:1;
	}	


#output {
	float:right;
	margin-top: -27%;
	padding: 0px 0px 0px 0px;
	width: 300px;
}

.output_hizuke { 
	font-size: large;
	font-weight:bold;
	}

.output_kingaku{
	margin: 0px;
}

#footer{
	width: auto;
	background-color :#DDDDDD;
	color : #000;
	clear: both;
	margin:0px 0px 0px 0px; 
	padding : 10px 0px 10px 0px;
	text-align : center;
}
